.listingLabel {
    font-size: 25px;
    font-weight: bold;
}

.listingLabel1 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.productListingLink {
    font-size: large;
}

.productListingImage {
    width:200px;
    height:125px;
    border: solid;
    border-color:aliceblue;
    border-width: 2px;
    margin-bottom: 30px;
}

.productListingPrice {
    padding-left:40px;
}