body {
}

.labelColor {
    color: #06A974;
}

.brandImage {
    width: 100%;
}

.productImage {
    width: 60%;
    height: 60%;
}

.AddToCart {
    align-content: center;
}

.quantity {
    align-content: center;
    padding-top: 10px;
}

@media screen and (max-width: 990px) {

    .txtQuantity {
        color: black;
    }

}
