<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="AppPath" value="//150.216.55.77/group2/website/" />
    </appSettings>

    <connectionStrings>
        <add name="ConnectionString" 
             connectionString="Data Source=150.216.55.77\SQLEXPRESS;Persist Security Info=True;User ID=group2;Password=8nywsdf4"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <customErrors defaultRedirect="/group2/website/DefaultError.aspx" mode="On">
        <error statusCode="404" redirect="E404.aspx"/>
        <error statusCode="500" redirect="E500.aspx"/>
      </customErrors>
      <authentication mode="Forms">
        <forms loginUrl="~/Login.aspx" timeout="30" slidingExpiration="true"/>
      </authentication>
      
      <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="30">
        <providers>
          <clear/>
          <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionString"
               applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true"
                requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
                passwordAttemptWindow="10"/>
        </providers>
      </membership>
      
      <roleManager defaultProvider="SqlRoleProvider" cacheRolesInCookie="true" cookieTimeout="60" enabled="true">
        <providers>
          <clear/>
          <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ConnectionString" applicationName="/"/>
        </providers>
      </roleManager>
      
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>

</configuration>
